<%- include("template/header.ejs"), {titulo: 'Pagina de Inicio'} %>
    <h1>Esta es la <%= titulo %></h1>
    <h2>Los servicios son los siguientes:</h2>
    <li>Servicio 1</li>
    <li>Servicio 2</li>
<%- include("template/footer.ejs"); %>